.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loader {
  margin-top: 16px;
  font-size: 14px;
  color: #475467;
}

.loadMore {
  margin: 24px auto 0;
  padding: 12px 32px;
  border-radius: 200px;
  border: 1px solid #dadde1;
  background: #ffffff;
  cursor: pointer;
}
