.form {
  background: #f7f7f7;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
}

.subtitle {
  font-size: 14px;
  color: #475467;
  margin-bottom: 8px;
}

.input,
.textarea {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #dadde1;
  font-size: 14px;
  color: #101828;
  background: #fff;
}

.input::placeholder,
.textarea::placeholder {
  color: #98a2b3;
}

.textarea {
  resize: none;
}

/* Button */
.button {
  padding: 12px 20px;
  border-radius: 200px;
  background: #e44848;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  font-size: 16px;
}

.button:hover {
  background: #c63636;
}

.success {
  color: #12b76a;
  font-size: 14px;
  margin-top: 4px;
}

/* -------------- */
/* RESPONSIVE */
/* -------------- */

@media (min-width: 768px) {
  .form {
    padding: 32px;
  }

  .title {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  .form {
    padding: 40px;
  }
}
