.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 16px;
}

/* фото в контейнері */
.item {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  background: #f2f4f7;
}

/* саме фото */
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tablet */
@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .item {
    height: 220px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .item {
    height: 240px;
  }
}
