/* app/catalog/Catalog.module.css */

.page {
  width: 100%;
  background: #f7f7f7;
}

/* Вся "сітка" сторінки */
.layout {
  width: 1440px;
  max-width: 1440px;
  margin: 40px auto 64px;
  padding: 0 64px;

  display: flex;
  align-items: flex-start;
  gap: 64px;
}

/* Ліва колонка з фільтрами */
.sidebar {
  width: 360px;
  flex-shrink: 0;
}

/* Права колонка з картками */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
